body {
  background: url("./../../assets//background/coffeeshop.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* font-family: "Indie Flower", cursive; */
}

.wrapper {
  max-width: 100%;
}
