@font-face {
  font-family: "oswald";
  src: url("../../assets/fonts/Oswald-Light.ttf");
}

* {
  font-family: "oswald" !important;
  box-sizing: border-box;
}

body {
  background: url("./../../assets//background/coffeeshop.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  max-width: 100%;
}
