#navbar-z {
  border-bottom: 0.2em solid black;
}

#navbrand-z {
  font-size: 3em;
}

#nav-span-z {
  font-size: 0.75em;
}

.nav-item {
  display: inline-block !important;
}

.nav-item p {
  font-size: 1.5em;
  color: black !important;
  position: relative;
}

#portfolio-icon-z img {
  margin-left: 8px;
}

#contact-icon-z img {
  margin-left: 3px;
}

.nav-item:hover {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  #navbrand-z span {
    display: none;
  }
  .nav-item {
    margin: auto 1em auto 1em;
  }
}

@media (min-width: 768px) {
  #navbar-z {
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 0em;
  }
  .nav-item:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  .nav-item p {
    text-align: center;
  }
}
