.portfolio-z {
  margin: 1em auto 1em auto;
  border: 2px solid black;
  border-radius: 0.5em;
  overflow: hidden;
}

.portfolio-item {
  background-attachment: fixed;
  border-bottom: 2px solid black;
  padding: 1em;
}

.portfolio-img-div a :hover {
  cursor: pointer;
  transform: scale(1.02);
  transition-duration: 0.5s;
  box-shadow: 3px 3px 3px grey;
}

.deploy-link {
  padding: 0.2em;
}

.deploy-link :hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.portfolio-title {
  margin: auto;
  padding-bottom: 1%;
  text-align: center;
  text-decoration: underline;
}

.portfolio-img-div {
  position: relative;
}

.portfolio-img-div img {
  border: 2px solid black;
  border-radius: 5px;
}

img.portfolio-button {
  position: relative;
  width: 100%;
  height: 100%;
}

.tech-icon {
  height: 60px;
  width: 60px;
}

.link-row {
  text-align: center;
  padding-top: 0.5em;
}

.portfolio-item p {
  font-size: 1.2em;
}

.portfolio-item p {
  font-size: 1.2em;
}

.tech-title {
  font-size: 1.2em;
}

#portfolio-brand-z {
  text-align: center;
  font-size: 2.75em;
  border-bottom: 2px solid black;
}

#search-tech-div {
  border-bottom: 2px solid black;
  text-align: center;
  padding: 1em;
}

#search-tech-span {
  font-size: 2em;
}

#portfolio-footer {
  font-size: 1.75em;
  text-align: center;
}
